/* collapseCode.css */
.collapse {
    height: 120px  !important;
}


.popup-btn {
    border-radius: 10px;
    border: 2px solid black;
    
}
.popup-btn:active,
.popup-btn:focus{
    box-shadow: 0 0 2px 2px green;
    outline: none;
    border: 1px solid darkcyan;
}
