/* position.css */
.page-wrapper>.side-bar {
    /* position: sticky; */
    top: 0;
    left: 0       
}
.main-content {
    /* position: relative; */
}
.snip{
    position: relative;
}
#sideBarBtn,
#darkModeBtn{
    position: fixed;
}
#sideBarBtn{
    left: 3%;
    bottom: 5%;
}
#darkModeBtn{
    right: 1.5%;
    bottom: 5%;
}

.code-cmd {
    position: relative;
}

.popup-btn {
    position: absolute;
    left: -1%;
    top: -2%;
}